<ion-header padding-top>
  <alphaheader></alphaheader>
</ion-header>

<ion-content (swipe)="goToNextCat($event)" no-padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item class="backtitle">
    <ion-title class="centerAlign noPaddingBottom" (click)="openFirst()"><b id="CypTitle">Κύπρος</b></ion-title>
    <ion-segment [(ngModel)]="page" color="dark" no-margin-top>
      <ion-segment-button value="cyprusAll">
        Κύπρος
      </ion-segment-button>
      <ion-segment-button value="marketnews" (click)="hideAll()">
        Νέα Αγοράς
      </ion-segment-button>
    </ion-segment>
  </ion-item>
  <div [ngSwitch]="page">
    <div *ngSwitchCase="'cyprusAll'">
      <ion-grid (click)="openArticle(items0)">
        <ion-row class="CatRow">
          <ion-col col-6 no-padding>
            <div class="catImageDiv">
              <img class="catImg" src="{{items0?.image_url_square}}" />
            </div>
          </ion-col>
          <ion-col col-6 class="mainCatPad">
            <h4 class="mainTitle" no-margin>{{items0?.title | removequotes | fixamp}}</h4>
            <p class="mainp no-margip">{{items0?.teaser | removequotes | fixamp}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-badge class="CyprusClass badgeCatClass">{{items0?.category}}</ion-badge>
      <ion-item padding-left class="transparent">
        <ion-icon name="ios-clock-outline" color="textColor" item-start>
          <a class="timeColor paddingSmall">{{items0?.date}} - {{items0?.time}}</a>
        </ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" item-end (click)="setFav0(items0)"></ion-icon>
        <ion-icon name="ios-bookmark" color="pnored" *ngIf="isInFavs0" item-end (click)="alertFav()"></ion-icon>
      </ion-item>
      <ion-item text-wrap class="BLogItem">
        <ion-grid class="grid-padding" (click)="openArticle(items1)">
          <ion-row class="secondCatitem">
            <ion-col col-4 no-padding>
              <div class="divCatImage">
                <img class="BlogImage" src="{{items1?.image_url_square}}" no-padding/>
              </div>
            </ion-col>
            <ion-col col-8 class="CatPad">
              <p class="categoryTitle">{{items1?.title | removequotes | fixamp}}</p>
              <a class="itemscat2">
                <ion-grid no-padding>
                  <ion-row class="secondCatitem">
                    <ion-col col-10 no-margin>
                      <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{items1?.date}} - {{items1?.time}}</a></ion-icon>
                    </ion-col>
                    <ion-col col-1>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="!isInFavs1" color="pnored" (click)="setFav1(items1)"></ion-icon>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isInFavs1" (click)="alertFav()"></ion-icon>
                    </ion-col>
                    <ion-col col-1>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <div>
          ΧΩΡΟΣ ΓΙΑ ΔΙΑΦΗΜΙΣΗ
        </div>
      </ion-item>
      <ion-list *ngFor="let item of items; let i = index">
        <ion-item text-wrap class="BLogItem">
          <ion-grid class="grid-padding" (click)="openArticle(item)">
            <ion-row class="secondCatitem">
              <ion-col col-4 no-padding>
                <div class="divCatImage">
                  <img class="BlogImage" src="{{item?.image_url_square}}" no-padding/>
                </div>
              </ion-col>
              <ion-col col-8 class="CatPad">
                <p class="categoryTitle">{{item?.title | removequotes | fixamp}}</p>
                <a class="itemscat2">
                  <ion-grid no-padding>
                    <ion-row class="secondCatitem">
                      <ion-col col-10 no-margin>
                        <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{item?.date}} - {{item?.time}}</a></ion-icon>
                      </ion-col>
                      <ion-col col-1>
                        <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="isRestInFavs[i]==false" color="pnored" (click)="setFav(item, i)"></ion-icon>
                      </ion-col>
                      <ion-col col-1>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col col-2>
          </ion-col>
          <ion-col col-8 class="alignCenter" (click)="showNextTen()">
            <button ion-button clear icon-top>
            <ion-icon name="ios-arrow-dropdown" class="moreIcon" color="pnored"></ion-icon>
          </button><br/>
            <small><label class="pnored">Περισσότερες Ειδήσεις</label></small>
          </ion-col>
          <ion-col col-2>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'marketnews'">
      <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <ion-grid (click)="openArticle(neaagoras0)">
        <ion-row class="CatRow">
          <ion-col col-6 no-padding>
            <div class="catImageDiv">
              <img class="catImg" src="{{neaagoras0?.image_url_square}}" />
            </div>
          </ion-col>
          <ion-col col-6 mainCatPad>
            <h4 class="mainTitle" no-margin>{{neaagoras0?.title | removequotes | fixamp}}</h4>
            <p class="mainp limitTwoLinesP" no-margip>{{neaagoras0?.teaser | removequotes | fixamp}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-badge class="CyprusClass badgeCatClass">{{neaagoras0?.category}}</ion-badge>
      <ion-item padding-left class="transparent">
        <ion-icon name="ios-clock-outline" color="textColor" item-start>
          <a class="timeColor paddingSmall"> {{neaagoras0?.date}} - {{neaagoras0?.time}}</a>
        </ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="ios-bookmark-outline" *ngIf="!isneaInFavs0" color="pnored" item-end (click)="setnea0(neaagoras0)"></ion-icon>
        <ion-icon name="ios-bookmark" color="pnored" *ngIf="isneaInFavs0" item-end (click)="alertFav()"></ion-icon>
      </ion-item>
      <ion-item text-wrap class="BLogItem">
        <ion-grid class="grid-padding" (click)="openArticle(neaagoras1)">
          <ion-row class="secondCatitem">
            <ion-col col-4 no-padding>
              <div class="divCatImage">
                <img class="BlogImage" src="{{neaagoras1?.image_url_square}}" />
              </div>
            </ion-col>
            <ion-col col-8 class="CatPad">
              <p class="categoryTitle">{{neaagoras1?.title | removequotes | fixamp}}</p>
              <a class="itemscat2">
                <ion-grid no-padding>
                  <ion-row class="secondCatitem">
                    <ion-col col-10 no-margin>
                      <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{neaagoras1?.date}} - {{neaagoras1?.time}}</a></ion-icon>
                    </ion-col>
                    <ion-col col-1>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="!isneaInFavs1" color="pnored" (click)="setnea1(neaagoras1)"></ion-icon>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isneaInFavs1" (click)="alertFav()"></ion-icon>
                    </ion-col>
                    <ion-col col-1></ion-col>
                  </ion-row>
                </ion-grid>
              </a>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <div>
          ΧΩΡΟΣ ΓΙΑ ΔΙΑΦΗΜΙΣΗ
        </div>
      </ion-item>
      <ion-list *ngFor="let item2 of neaagoras; let i = index">
        <ion-item text-wrap class="BLogItem">
          <ion-grid class="grid-padding" (click)="openArticle(item2)">
            <ion-row class="secondCatitem">
              <ion-col col-4 no-padding>
                <div class="divCatImage">
                  <img class="BlogImage" src="{{item2?.image_url_square}}" />
                </div>
              </ion-col>
              <ion-col col-8 class="CatPad">
                <p class="categoryTitle">{{item2?.title | removequotes | fixamp}}</p>
                <a class="itemscat2">
                  <ion-grid no-padding>
                    <ion-row class="secondCatitem">
                      <ion-col col-10 no-margin>
                        <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{item2?.date}} - {{item2?.time}}</a></ion-icon>
                      </ion-col>
                      <ion-col col-1>
                        <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="isRestNeaInFavs[i]==false" color="pnored" (click)="setNeaFav(item2, i)"></ion-icon>
                        <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isRestNeaInFavs[i]" (click)="alertFav()"></ion-icon>
                      </ion-col>
                      <ion-col col-1></ion-col>
                    </ion-row>
                  </ion-grid>
                </a>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>
