<ion-header padding-top>
  <alphaheader></alphaheader>
</ion-header>

<ion-content>
  <ion-item class="backtitle">
    <ion-title class="centerAlign noPaddingBottom"><b id="CypTitle">Κύπρος</b></ion-title>
    <ion-segment [(ngModel)]="page" color="dark" no-margin-top>
      <ion-segment-button value="cyprusAll">
        Κύπρος
      </ion-segment-button>
      <ion-segment-button value="marketnews" (click)="hideAll()">
        Νέα Αγοράς
      </ion-segment-button>
    </ion-segment>
  </ion-item>
  <div [ngSwitch]="page">
    <div *ngSwitchCase="'cyprusAll'">
      <ion-grid>
        <ion-row class="CatRow">
          <ion-col col-6 no-padding>
            <div class="catImageDiv">
              <img class="catImg" src="{{items0?.image_url}}" />
            </div>
          </ion-col>
          <ion-col col-6>
            <b><h4 class="mainTitle" no-margin>{{items0?.title | removequotes}}</h4></b>
            <p class="limitTwoLinesP mainp " no-margip>{{items0?.teaser | removequotes}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-badge class="CyprusClass badgeCatClass">{{items0?.category}}</ion-badge>
      <ion-item padding-left class="transparent">
        <ion-icon name="ios-clock-outline" color="textColor" item-start>
          <a class="timeColor"> {{items0?.date}} - {{items0?.time}}</a>
        </ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" item-end (click)="setFav0(items0)"></ion-icon>
        <ion-icon name="ios-bookmark" color="pnored" *ngIf="isInFavs0" item-end (click)="alertFav()"></ion-icon>
      </ion-item>
      <ion-item text-wrap>
        <ion-grid class="grid-padding">
          <ion-row class="secondCatitem">
            <ion-col col-5 no-padding>
              <div class="divCatImage">
                <img class="imagePadding" src="{{items1?.image_url}}" />
              </div>
            </ion-col>
            <ion-col col-7 no-padding>
              <h2 class="categoryTitle">{{items1?.title | removequotes}}</h2>
              <div class="itemscat2">
                <ion-row>
                  <div class="secondCatitem itemPad">
                    <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{items1?.date}} - {{items1?.time}}</a></ion-icon>
                    <ion-icon class="iconsincat margin-left" name="md-share" color="pnored"></ion-icon>
                    <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="!isInFavs1" color="pnored" (click)="setFav1(items1)"></ion-icon>
                    <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isInFavs1" (click)="alertFav()"></ion-icon>
                  </div>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <div>
          ΧΩΡΟΣ ΓΙΑ ΔΙΑΦΗΜΙΣΗ
        </div>
      </ion-item>
      <ion-list *ngFor="let item of items; let i = index">
        <ion-item text-wrap>
          <ion-grid class="grid-padding">
            <ion-row class="secondCatitem">
              <ion-col col-5 no-padding>
                <div class="divCatImage">
                  <img class="imagePadding" src="{{item?.image_url}}" />
                </div>
              </ion-col>
              <ion-col col-7 no-padding>
                <h2 class="categoryTitle">{{item?.title | removequotes}}</h2>
                <div class="itemscat2">
                  <ion-row>
                    <div class="secondCatitem itemPad">
                      <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{item?.date}} - {{item?.time}}</a></ion-icon>
                      <ion-icon class="iconsincat margin-left" name="md-share" color="pnored"></ion-icon>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="isRestInFavs[i]==false" color="pnored" (click)="setFav(item, i)"></ion-icon>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isRestInFavs[i]" (click)="alertFav()"></ion-icon>
                    </div>
                  </ion-row>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
          </ion-col>
          <ion-col col-4 class="alignCenter">
            <button ion-button clear icon-top>
            <ion-icon name="ios-arrow-dropdown" class="moreIcon" color="pnored"></ion-icon>
          </button>
          </ion-col>
          <ion-col col-4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngSwitchCase="'marketnews'">
      <ion-grid>
        <ion-row class="CatRow">
          <ion-col col-6 no-padding>
            <div class="catImageDiv">
              <img class="catImg" src="{{neaagoras0?.image_url}}" />
            </div>
          </ion-col>
          <ion-col col-6>
            <b><h4 class="mainTitle" no-margin>{{neaagoras0?.title | removequotes}}</h4></b>
            <p class="limitTwoLinesP mainp " no-margip>{{neaagoras0?.teaser | removequotes}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-badge class="CyprusClass badgeCatClass">{{neaagoras0?.category}}</ion-badge>
      <ion-item padding-left class="transparent">
        <ion-icon name="ios-clock-outline" color="textColor" item-start>
          <a class="timeColor"> {{neaagoras0?.date}} - {{neaagoras0?.time}}</a>
        </ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" item-end (click)="setFav0(image0)"></ion-icon>
        <ion-icon name="ios-bookmark" color="pnored" *ngIf="isInFavs0" item-end (click)="alertFav()"></ion-icon>
      </ion-item>
      <ion-item text-wrap>
        <ion-grid class="grid-padding">
          <ion-row class="secondCatitem">
            <ion-col col-5 no-padding>
              <div class="divCatImage">
                <img class="imagePadding" src="{{neaagoras1?.image_url}}" />
              </div>
            </ion-col>
            <ion-col col-7 no-padding>
              <h2 class="categoryTitle">{{neaagoras1?.title | removequotes}}</h2>
              <div class="itemscat2">
                <ion-row>
                  <div class="secondCatitem itemPad">
                    <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{neaagoras1?.date}} - {{neaagoras1?.time}}</a></ion-icon>
                    <ion-icon class="iconsincat margin-left" name="md-share" color="pnored"></ion-icon>
                    <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" (click)="setFav0(image0)"></ion-icon>
                    <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isInFavs0" (click)="alertFav()"></ion-icon>
                  </div>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <div>
          ΧΩΡΟΣ ΓΙΑ ΔΙΑΦΗΜΙΣΗ
        </div>
      </ion-item>
      <ion-list *ngFor="let item2 of neaagoras">
        <ion-item text-wrap>
          <ion-grid class="grid-padding">
            <ion-row class="secondCatitem">
              <ion-col col-5 no-padding>
                <div class="divCatImage">
                  <img class="imagePadding" src="{{item2?.image_url}}" />
                </div>
              </ion-col>
              <ion-col col-7 no-padding>
                <h2 class="categoryTitle">{{item2?.title | removequotes}}</h2>
                <div class="itemscat2">
                  <ion-row>
                    <div class="secondCatitem itemPad">
                      <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{item2?.date}} - {{item2?.time}}</a></ion-icon>
                      <ion-icon class="iconsincat margin-left" name="md-share" color="pnored"></ion-icon>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" (click)="setFav0(image0)"></ion-icon>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isInFavs0" (click)="alertFav()"></ion-icon>
                    </div>
                  </ion-row>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-content>