page-cyprus {
}

.segment-md .segment-button {
  font-size: 1.3rem;
  color: #a4a4a4;
}

.segment-md-dark .segment-button.segment-activated {
  border-color: #e53b3d;
}

.catImg {
  height: 100%;
}

.classPad {
  padding: 4px 3px 3px 3px;
}

.catImageDiv {
  height: 25vh;
}

.segment-ios-dark .segment-button {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-size: 1.5rem;
  color: #a4a4a4;
  border-bottom: 0px;
}

.limitFourLines {
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-size: 1.4rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-height: 1.6rem;
  max-height: 7rem;
}

.catParagraph {
  margin: 1px 3px auto 1px;
}

.limitTwoLinesP {
  overflow: hidden !important;
  text-overflow: ellipsis;
  display: -webkit-box;
  font-size: 1.3rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5rem;
  max-height: 3.5rem;
}

.timeColor {
  color: #75848e;
  padding-left: 6px;
}

.noPaddingBottom {
  padding: 10px 5px 0px 5px;
}

.grid-padding {
  padding: 5px 2px 0px 5px;
}

.imagePadding {
  padding: 3px 3px 0px 3px;
  height: 100%;
}

.divCatImage {
  height: 18vh;
}

.mainCatPad {
  padding-left: 0px;
}

.segment-ios-dark .segment-button.segment-activated {
  border-bottom: 2px solid #e53b3d;
  background-color: transparent;
  color: #222;
}

.CatRow {
  background-color: #333333;
}

.mainTitle {
  color: #f4f4f4;
  font-size: 1.4rem;
  padding-top: 3px;
}

.categoryTitle2 {
  font-weight: bold;
  font-size: 1.2rem;
}

.categoryText {
  font-size: 1.2rem;
}

.mainp {
  color: #f4f4f4;
}
.fabCat {
  left: 60%;
  bottom: 65px;
}

.badgeCatClass {
  margin-top: -1.5rem !important;
  left: 2rem;
  float: left;
  position: absolute;
}

.backtitle {
  background-color: #f1f1f1;
}

.secondCatitem {
  background-color: #ebebeb;
  bottom: 0px;
}

.itemscat {
  background-color: #ebebeb;
  bottom: 0;
  margin-bottom: 0px !important;
}

.itemscat2 {
  background-color: #ebebeb;
  padding-left: 0px;
  bottom: 0;
  position: absolute;
  width: 98%;
}

.iconsincat {
  font-size: 1.5rem !important;
  margin-bottom: 1px !important;
  bottom: 0;
  position: absolute;
}

.moreIcon {
  font-size: 3em;
}

.margin-left {
  margin-left: 1rem;
  padding-right: 0.5rem;
}

.margin-left2 {
  margin-left: 0rem;
  float: right;
}

#CypTitle {
  color: #b79033;
}

#CypTitle2 {
  color: #e53b3d;
}

.pnored {
  color: #e53b3d;
  font-weight: bold;
}
