<ion-header padding-top>
  <alphaheader></alphaheader>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-item class="backtitle">
    <ion-title class="centerAlign noPaddingBottom"><b>Blog</b></ion-title>
  </ion-item>
  <ion-grid (click)="openArticle(items0)">
    <ion-row class="CatRow">
      <ion-col col-6 no-padding>
        <div class="catImageDiv">
          <img class="catImg" src="{{items0?.image_url_square}}" />
        </div>
      </ion-col>
      <ion-col col-6 no-padding>
        <p class="author">{{items0?.author}} - </p>
        <p class="author_faculty" no-margin-top>{{items0?.author_faculty}}</p>
        <b><p class="blogtext" no-margin>{{items0?.title | removequotes | fixamp}}</p></b>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-item padding-left class="transparent">
    <ion-icon name="ios-clock-outline" color="textColor" item-start>
      <a class="timeColor paddingSmall"> {{items0?.date}} - {{items0?.time}}</a>
    </ion-icon>
    <ion-icon name="md-share" paddingSmall color="pnored" item-end></ion-icon>
    <ion-icon name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" item-end (click)="setFav0(items0)"></ion-icon>
    <ion-icon name="ios-bookmark" color="pnored" *ngIf="isInFavs0" item-end (click)="alertFav()"></ion-icon>
  </ion-item>
  <ion-item text-wrap (click)="openArticle(items1)" class="BLogItem">
    <ion-grid class="grid-padding">
      <ion-row class="secondCatitem">
        <ion-col col-4 no-padding>
          <div class="divCatImage">
            <img class="BlogImage" src="{{items1?.image_url_square}}" />
          </div>
        </ion-col>
        <ion-col col-8 no-padding>
          <p class="author2">{{items1?.author}} - </p>
          <a class="author_faculty2">{{items1?.author_faculty}}</a>
          <p class="blogtext2">{{items1?.title | removequotes | fixamp}}</p>
          <ion-item class="itemscatBlog">
            <ion-grid class="padGridBlog">
              <ion-row>
                <ion-col col-10 class="padGridBlog">
                  <ion-icon class="iconsincatBlog" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor paddingSmall">{{items1?.date}} - {{items1?.time}}</a></ion-icon>
                </ion-col>
                <ion-col col-1 no-padding>
                  <ion-icon class="iconsincatBlog bookmarkBlog2" name="md-share" color="pnored" item-end></ion-icon>
                </ion-col>
                <ion-col col-1 no-padding>
                  <ion-icon class="iconsincatBlog bookmarkBlog" name="ios-bookmark-outline" *ngIf="!isInFavs1" color="pnored" (click)="setFav1(items1)"
                    item-end></ion-icon>
                  <ion-icon class="iconsincatBlog bookmarkBlog" name="ios-bookmark" color="pnored" *ngIf="isInFavs1" (click)="alertFav()" item-end></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
  <ion-item>
    <div>
      ΧΩΡΟΣ ΓΙΑ ΔΙΑΦΗΜΙΣΗ
    </div>
  </ion-item>
  <ion-list *ngFor="let item of items; let i = index">
    <ion-item text-wrap (click)="openArticle(item)" class="BLogItem">
      <ion-grid class="grid-padding">
        <ion-row class="secondCatitem">
          <ion-col col-4 no-padding>
            <div class="divCatImage">
              <img class="BlogImage" src="{{item?.image_url_square}}" />
            </div>
          </ion-col>
          <ion-col col-8 no-padding>
            <p class="author2">{{item?.author}} - </p>
            <p class="author_faculty2">{{item?.author_faculty}}</p>
            <p class="blogtext2">{{item?.title | removequotes | fixamp}}</p>
            <ion-item class="itemscatBlog">
              <ion-grid class="padGridBlog">
                <ion-row>
                  <ion-col col-10 class="padGridBlog">
                    <ion-icon class="iconsincatBlog" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor paddingSmall">{{item?.date}} - {{item?.time}}</a></ion-icon>
                  </ion-col>
                  <ion-col col-1 no-padding>
                    <ion-icon class="iconsincatBlog iconsincatBlog" name="md-share" color="pnored" item-end></ion-icon>
                  </ion-col>
                  <ion-col col-1 no-padding>
                    <ion-icon class="iconsincatBlog iconsincatBlog" name="ios-bookmark-outline" *ngIf="!isRestInFavs[i]" color="pnored" (click)="setFav(item, i)"
                      item-end></ion-icon>
                    <ion-icon class="iconsincatBlog iconsincatBlog" name="ios-bookmark" color="pnored" *ngIf="isRestInFavs[i]" (click)="alertFav()"
                      item-end></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col col-4>
      </ion-col>
      <ion-col col-4 class="alignCenter" (click)="nextTen()">
        <button ion-button clear icon-top>
            <ion-icon name="ios-arrow-dropdown" class="moreIcon" color="pnored"></ion-icon>
          </button>
      </ion-col>
      <ion-col col-4>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>