page-blog {
}
.paddingSmall {
  padding-left: 5px !important;
}
.author {
  color: rgb(229, 59, 61);
  margin: 6px 4px 4px 0px;
  font-size: 1em;
  font-weight: bold;
}

.author2 {
  color: #e53b3d !important;
  padding: 3px 6px 0px 6px;
  margin: 6px 4px 0px 6px;
  font-size: 0.9em;
  font-weight: bold;
}

.author_faculty {
  margin: 1px 2px 6px 0px;
  color: #e2e2e2;
  font-size: 0.9em;
  font-style: italic;
  padding-right: 3px;
}

.author_faculty2 {
  margin: 1px 2px 2px 6px;
  color: #3b3b3b;
  font-size: 0.9em;
  font-style: italic;
  padding: 0px 4px 0px 6px;
}

.blogtext {
  margin: 1px 2px 2px 2px;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}

.blogtext2 {
  margin: 0px 2px 0px 6px;
  color: #3b3b3b;
  font-size: 1em;
  font-weight: bold;
  padding-left: 6px;
}

.BLogItem {
  padding-left: 1px;
}

.padBlogMain {
  padding: 3px 3px 3px 1px;
}

.BLogItem .item-inner {
  padding-right: 1px !important;
}

.BlogImage {
  padding: 0px;
  height: 100%;
}

.itemscatBlog {
  background-color: #ebebeb;
  padding-left: 6px;
  bottom: 0px;
  position: absolute;
  min-height: auto;
}

.padGridBlog {
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
.bookmarkBlog {
  padding-left: 2px;
}

.bookmarkBlog2 {
  padding-right: 2px;
}

.iconsincatBlog {
  font-size: 1.3rem !important;
  margin-bottom: 1px !important;
  margin-top: 0px !important;
}
