<ion-item>
  <ion-row align-items-center justify-content-center>
    <ion-col col-1>
      <ion-icon name="menu" menuToggle class="headIcon"></ion-icon>
    </ion-col>
    <ion-col col-9 class="titleOfApp">
      <img src="assets/img/logo.svg" (click)="openHome()" />
    </ion-col>
    <ion-col col-1>
      <ion-icon name="ios-search-outline" (click)="openSearch()" class="headIcon floatRight"></ion-icon>
    </ion-col>
    <ion-col col-1>
      <ion-icon name="md-heart" (click)="openFavs()" class="headIcon floatRight"></ion-icon>
    </ion-col>
  </ion-row>
</ion-item>