page-useful {

}

.segment-md .segment-button {
  text-transform: none;
  padding-left: 0px;
  opacity: 1;
}

.segment-md-primary .segment-button {
  color: #75848e;
  border-bottom-width: 0px; 
}

.alignCenter {
  text-align: center;
}