<ion-header>
  <alphaheader></alphaheader>
</ion-header>


<ion-content>
  <ion-slides text-wrap autoplay="4000" style="height:70%; background-color:#252525">
    <ion-slide (click)="openArticle(CypData)">
      <div class="imageDiv">
        <img class="CarouselImage" src="{{pic0}}" />
      </div>
      <ion-badge class="CyprusClass badgeClass">{{CypData?.category}}</ion-badge>
      <h3>{{CypData?.title | removequotes }}</h3>
      <p>{{CypData?.teaser | removequotes }}</p>
      <ion-item class="transparent" padding>
        <ion-icon name="ios-clock-outline" color="textColor" item-start> {{CypData?.date}} - {{CypData?.time}}</ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="md-bookmark" color="pnored" item-end></ion-icon>
      </ion-item>
    </ion-slide>
    <ion-slide (click)="openArticle(PolData)">
      <div class="imageDiv">
        <img class="CarouselImage" src="{{pic1}}" />
      </div>
      <ion-badge class="PolitikiClass badgeClass">{{PolData?.category}}</ion-badge>
      <h3>{{PolData?.title | removequotes}}</h3>
      <p>{{PolData?.teaser | removequotes}}</p>
      <ion-item class="transparent" padding>
        <ion-icon name="ios-clock-outline" color="textColor" item-start> {{PolData?.date}} - {{PolData?.time}}</ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="md-bookmark" color="pnored" item-end></ion-icon>
      </ion-item>
    </ion-slide>
    <ion-slide (click)="openArticle(SportsData)">
      <div class="imageDiv">
        <img class="CarouselImage" src="{{pic2}}" />
      </div>
      <ion-badge class="SportsClass badgeClass">{{SportsData?.category}}</ion-badge>
      <h3 padding-left>{{SportsData?.title | removequotes}}</h3>
      <p padding-left>{{SportsData?.teaser | removequotes}}</p>
      <ion-item class="transparent" padding>
        <ion-icon name="ios-clock-outline" color="textColor" item-start> {{SportsData?.date}} - {{SportsData?.time}}</ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="md-bookmark" color="pnored" item-end></ion-icon>
      </ion-item>
    </ion-slide>
    <ion-slide (click)="openArticle(EntData)">
      <div class="imageDiv">
        <img class="CarouselImage" src="{{pic3}}" />
      </div>
      <ion-badge class="EntertainmentClass badgeClass">{{EntData?.category}}</ion-badge>
      <h3 padding-left>{{EntData?.title | removequotes}}</h3>
      <p padding-left>{{EntData?.teaser | removequotes}}</p>
      <ion-item class="transparent" padding>
        <ion-icon name="ios-clock-outline" color="textColor" item-start> {{EntData?.date}} - {{EntData?.time}}</ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="md-bookmark" color="pnored" item-end></ion-icon>
      </ion-item>
    </ion-slide>
    <ion-slide (click)="openArticle(IntData)">
      <div class="imageDiv">
        <img class="CarouselImage" src="{{pic4}}" />
      </div>
      <ion-badge class="DiethniClass badgeClass">{{IntData?.category}}</ion-badge>
      <h3 padding-left>{{IntData?.title | removequotes}}</h3>
      <p padding-left>{{IntData?.teaser | removequotes}}</p>
      <ion-item class="transparent" padding>
        <ion-icon name="ios-clock-outline" color="textColor" item-start> {{IntData?.date}} - {{IntData?.time}}</ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="md-bookmark" color="pnored" item-end></ion-icon>
      </ion-item>
    </ion-slide>
  </ion-slides>
  <ion-list>
    <ion-item text-wrap class='borderB' no-padding>
      <ion-grid>
        <ion-row align-items-center>
          <ion-col col-6>
            <img src="http://alphanews.live/sites/default/files/styles/media_image/public/2017-08/20631418_10213406715825402_2006238752_n.png?itok=bD437OY-"
            />
          </ion-col>
          <ion-col col-6 class="Editor">
            <p><b>Editor's Choice</b></p>
            <p>Εξακόσια χιλιόμετρα για την ειρηνική συνύπαρξη (BINTEO-ΦΩΤΟ)</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Cyp">
      <ion-grid>
        <ion-item id="cyprus">
          <hr/>
          <p>ΚΥΠΡΟΣ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom>
          <ion-col col-6>
            <img src="{{CypData1?.image_url}}" />
            <h2>{{CypData1?.title | removequotes}}</h2>
            <p>{{CypData1?.teaser | removequotes}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{CypData2?.image_url}}" />
            <h2>{{CypData2?.title | removequotes}}</h2>
            <p>{{CypData2?.teaser | removequotes}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{CypData1?.date}} - {{CypData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{CypData2?.date}} - {{CypData2?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <img src="http://ca.cubecdn.net/20170731094345_wmid_135455.jpg" />
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Pol">
      <ion-grid>
        <ion-item id="politiki">
          <hr/>
          <p>ΠΟΛΙΤΙΚΗ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom>
          <ion-col col-6>
            <img src="{{PolData1?.image_url}}" />
            <h2>{{PolData1?.title | removequotes}}</h2>
            <p>{{PolData1?.teaser | removequotes}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{PolData2?.image_url}}" />
            <h2>{{PolData2?.title | removequotes}}</h2>
            <p>{{PolData2?.teaser | removequotes}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{PolData1?.date}} - {{PolData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{PolData2?.date}} - {{PolData2?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Sports">
      <ion-grid>
        <ion-item id="sports">
          <hr/>
          <p>ΑΘΛΗΤΙΚΑ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom>
          <ion-col col-6>
            <img src="{{SportsData1?.image_url}}" />
            <h2>{{SportsData1?.title | removequotes}}</h2>
            <p>{{SportsData1?.teaser | removequotes}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{SportsData2?.image_url}}" />
            <h2>{{SportsData2?.title | removequotes}}</h2>
            <p>{{SportsData2?.teaser | removequotes}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{SportsData1?.date}} - {{SportsData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{SportsData2?.date}} - {{SportsData2?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Greece">
      <ion-grid>
        <ion-item id="greece">
          <hr/>
          <p>ΕΛΛΑΔΑ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom>
          <ion-col col-6>
            <img src="{{GreeceData?.image_url}}" />
            <h2>{{GreeceData?.title | removequotes}}</h2>
            <p>{{GreeceData?.teaser | removequotes}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{SportsData1?.image_url}}" />
            <h2>{{GreeceData1?.title | removequotes}}</h2>
            <p>{{GreeceData1?.teaser | removequotes}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{GreeceData?.date}} - {{GreeceData?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{GreeceData1?.date}} - {{GreeceData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Ent">
      <ion-grid>
        <ion-item id="entertainment">
          <hr/>
          <p>ΨΥΧΑΓΩΓΙΑ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom>
          <ion-col col-6>
            <img src="{{EntData1?.image_url}}" />
            <h2>{{EntData1?.title | removequotes}}</h2>
            <p>{{EntData1?.teaser | removequotes}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{EntData2?.image_url}}" />
            <h2>{{EntData2?.title | removequotes}}</h2>
            <p>{{EntData2?.teaser | removequotes}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{EntData1?.date}} - {{EntData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{EntData2?.date}} - {{EntData2?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Int">
      <ion-grid>
        <ion-item id="international">
          <hr/>
          <p>ΔΙΕΘΝΗ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom>
          <ion-col col-6>
            <img src="{{IntData1?.image_url}}" />
            <h2>{{IntData1?.title | removequotes}}</h2>
            <p>{{IntData1?.teaser | removequotes}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{SportsData2?.image_url}}" />
            <h2>{{IntData2?.title | removequotes}}</h2>
            <p>{{IntData2?.teaser | removequotes}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{IntData1?.date}} - {{IntData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{IntData2?.date}} - {{IntData2?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Health">
      <ion-grid>
        <ion-item id="health">
          <hr/>
          <p>ΥΓΕΙΑ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom>
          <ion-col col-6>
            <img src="{{HealthData?.image_url}}" />
            <h2>{{HealthData?.title | removequotes}}</h2>
            <p>{{HealthData?.teaser | removequotes}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{HealthData1?.image_url}}" />
            <h2>{{HealthData1?.title | removequotes}}</h2>
            <p>{{HealthData1?.teaser | removequotes}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{HealthData?.date}} - {{HealthData?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{HealthData1?.date}} - {{HealthData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Economy">
      <ion-grid>
        <ion-item id="economy">
          <hr/>
          <p>ΟΙΚΟΝΟΜΙΑ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom>
          <ion-col col-6>
            <img src="{{EconomyData?.image_url}}" />
            <h2>{{EconomyData?.title | removequotes}}</h2>
            <p>{{EconomyData?.teaser | removequotes}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{EconomyData1?.image_url}}" />
            <h2>{{EconomyData1?.title | removequotes}}</h2>
            <p>{{EconomyData1?.teaser | removequotes}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{EconomyData?.date}} - {{EconomyData?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{EconomyData1?.date}} - {{EconomyData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>
  <bottomfooter></bottomfooter>
</ion-content>
