<ion-header>
  <alphaheader></alphaheader>
</ion-header>
<ion-content>
  <ion-slides *ngIf="showCarouzel" text-wrap autoplay="4000" style="height:70%; background-color:#252525">
    <ion-slide (click)="openArticle(top0)">
      <div class="imageDiv">
        <img class="CarouselImage" src="{{top0?.image_url}}" />
      </div>
      <ion-badge class="{{class0}} badgeClass">{{top0?.category}}</ion-badge>
      <h3>{{top0?.title | removequotes | fixamp }}</h3>
      <p>{{top0?.teaser | removequotes | fixamp }}</p>
      <ion-item class="transparent" padding>
        <ion-icon name="ios-clock-outline" color="textColor" item-start> {{top0?.date}} - {{top0?.time}}</ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" (click)="setFav0(top0)" item-end></ion-icon>
        <ion-icon name="ios-bookmark" color="pnored" *ngIf="isInFavs0" (click)="alertFav()" item-end></ion-icon>
      </ion-item>
    </ion-slide>
    <ion-slide (click)="openArticle(top1)">
      <div class="imageDiv">
        <img class="CarouselImage" src="{{top1?.image_url}}" />
      </div>
      <ion-badge class="{{class1}} badgeClass">{{top1?.category}}</ion-badge>
      <h3>{{top1?.title | removequotes | fixamp}}</h3>
      <p>{{top1?.teaser | removequotes | fixamp}}</p>
      <ion-item class="transparent" padding>
        <ion-icon name="ios-clock-outline" color="textColor" item-start> {{top1?.date}} - {{top1?.time}}</ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="ios-bookmark-outline" *ngIf="!isInFavs1" color="pnored" (click)="setFav1(top1)" item-end></ion-icon>
        <ion-icon name="ios-bookmark" color="pnored" *ngIf="isInFavs1" (click)="alertFav()" item-end></ion-icon>
      </ion-item>
    </ion-slide>
    <ion-slide (click)="openArticle(top2)">
      <div class="imageDiv">
        <img class="CarouselImage" src="{{top2?.image_url}}" />
      </div>
      <ion-badge class="{{class2}} badgeClass">{{top2?.category}}</ion-badge>
      <h3 padding-left>{{top2?.title | removequotes | fixamp}}</h3>
      <p padding-left>{{top2?.teaser | removequotes | fixamp}}</p>
      <ion-item class="transparent" padding>
        <ion-icon name="ios-clock-outline" color="textColor" item-start> {{top2?.date}} - {{top2?.time}}</ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="ios-bookmark-outline" *ngIf="!isInFavs2" color="pnored" (click)="setFav2(top2)" item-end></ion-icon>
        <ion-icon name="ios-bookmark" color="pnored" *ngIf="isInFavs2" (click)="alertFav()" item-end></ion-icon>
      </ion-item>
    </ion-slide>
    <ion-slide (click)="openArticle(top3)">
      <div class="imageDiv">
        <img class="CarouselImage" src="{{top3?.image_url}}" />
      </div>
      <ion-badge class="{{class3}} badgeClass">{{top3?.category}}</ion-badge>
      <h3 padding-left>{{top3?.title | removequotes | fixamp}}</h3>
      <p padding-left>{{top3?.teaser | removequotes | fixamp}}</p>
      <ion-item class="transparent" padding>
        <ion-icon name="ios-clock-outline" color="textColor" item-start> {{top3?.date}} - {{top3?.time}}</ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="ios-bookmark-outline" *ngIf="!isInFavs3" color="pnored" (click)="setFav3(top3)" item-end></ion-icon>
        <ion-icon name="ios-bookmark" color="pnored" *ngIf="isInFavs3" (click)="alertFav()" item-end></ion-icon>
      </ion-item>
    </ion-slide>
    <ion-slide (click)="openArticle(top4)">
      <div class="imageDiv">
        <img class="CarouselImage" src="{{top4?.image_url}}" />
      </div>
      <ion-badge class="{{class4}} badgeClass">{{top4?.category}}</ion-badge>
      <h3 padding-left>{{top4?.title | removequotes | fixamp}}</h3>
      <p padding-left>{{top4?.teaser | removequotes | fixamp}}</p>
      <ion-item class="transparent" padding>
        <ion-icon name="ios-clock-outline" color="textColor" item-start> {{top4?.date}} - {{top4?.time}}</ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="ios-bookmark-outline" *ngIf="!isInFavs4" color="pnored" (click)="setFav4(top4)" item-end></ion-icon>
        <ion-icon name="ios-bookmark" color="pnored" *ngIf="isInFavs4" (click)="alertFav()" item-end></ion-icon>
      </ion-item>
    </ion-slide>
    <ion-slide (click)="openArticle(top5)">
      <div class="imageDiv">
        <img class="CarouselImage" src="{{top5?.image_url}}" />
      </div>
      <ion-badge class="{{class5}} badgeClass">{{top5?.category}}</ion-badge>
      <h3 padding-left>{{top5?.title | removequotes | fixamp}}</h3>
      <p padding-left>{{top5?.teaser | removequotes | fixamp}}</p>
      <ion-item class="transparent" padding>
        <ion-icon name="ios-clock-outline" color="textColor" item-start> {{top5?.date}} - {{top5?.time}}</ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="ios-bookmark-outline" *ngIf="!isInFavs5" color="pnored" (click)="setFav5(top5)" item-end></ion-icon>
        <ion-icon name="ios-bookmark" color="pnored" *ngIf="isInFavs5" (click)="alertFav()" item-end></ion-icon>
      </ion-item>
    </ion-slide>
  </ion-slides>
  <ion-item *ngIf="showBreaking" text-wrap class="brImage">
    <div class="imageDiv">
      <img class="CarouselImage" src="{{breakingNews?.image_url_breaking}}" />
    </div>
    <ion-badge class="{{class0}} badgeClass">{{top0?.category}}</ion-badge>
    <h3 class="brTitle">{{top0?.title | removequotes | fixamp}}</h3>
    <p padding-top class="brPar">{{top0?.teaser | removequotes | fixamp}}</p>
    <ion-item class="transparent" padding>
      <ion-icon name="ios-clock-outline" color="textColor" item-start> {{top0?.date}} - {{top0?.time}}</ion-icon>
      <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
    </ion-item>
  </ion-item>
  <ion-list>
    <ion-item text-wrap class='borderB' no-padding (click)="openArticle(editor)">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col col-6>
            <img src="{{editor?.image_url}}" />
          </ion-col>
          <ion-col col-6 class="Editor">
            <p><b>Editor's Choice</b></p>
            <p>{{editor?.title}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Cyp">
      <ion-grid>
        <ion-item id="cyprus">
          <hr/>
          <p>ΚΥΠΡΟΣ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom (click)="openArticle(CypData)">
          <ion-col col-6>
            <img src="{{CypData?.image_url}}" />
            <h2 class="categoryTitle">{{CypData?.title | removequotes | fixamp}}</h2>
            <p>{{CypData?.teaser | removequotes | fixamp}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{CypData1?.image_url}}" />
            <h2 class="categoryTitle">{{CypData1?.title | removequotes | fixamp}}</h2>
            <p>{{CypData1?.teaser | removequotes | fixamp}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{CypData?.date}} - {{CypData?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{CypData1?.date}} - {{CypData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      ΧΩΡΟΣ ΓΙΑ ΔΙΑΦΗΜΗΣΗ
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Pol">
      <ion-grid>
        <ion-item id="politiki">
          <hr/>
          <p>ΠΟΛΙΤΙΚΗ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom>
          <ion-col col-6>
            <img src="{{PolData?.image_url}}" />
            <h2 class="categoryTitle">{{PolData?.title | removequotes | fixamp}}</h2>
            <p>{{PolData?.teaser | removequotes | fixamp}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{PolData1?.image_url}}" />
            <h2 class="categoryTitle">{{PolData1?.title | removequotes | fixamp}}</h2>
            <p>{{PolData1?.teaser | removequotes | fixamp}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{PolData?.date}} - {{PolData?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{PolData1?.date}} - {{PolData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Sports">
      <ion-grid>
        <ion-item id="sports">
          <hr/>
          <p>ΑΘΛΗΤΙΚΑ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom>
          <ion-col col-6>
            <img src="{{SportsData?.image_url}}" />
            <h2 class="categoryTitle">{{SportsData?.title | removequotes | fixamp}}</h2>
            <p>{{SportsData?.teaser | removequotes | fixamp}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{SportsData2?.image_url}}" />
            <h2>{{SportsData1?.title | removequotes | fixamp}}</h2>
            <p>{{SportsData1?.teaser | removequotes | fixamp}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{SportsData?.date}} - {{SportsData?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{SportsData1?.date}} - {{SportsData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Greece">
      <ion-grid>
        <ion-item id="greece">
          <hr/>
          <p>ΕΛΛΑΔΑ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom>
          <ion-col col-6>
            <img src="{{GreeceData?.image_url}}" />
            <h2>{{GreeceData?.title | removequotes | fixamp}}</h2>
            <p>{{GreeceData?.teaser | removequotes | fixamp}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{SportsData1?.image_url}}" />
            <h2>{{GreeceData1?.title | removequotes | fixamp}}</h2>
            <p>{{GreeceData1?.teaser | removequotes | fixamp}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{GreeceData?.date}} - {{GreeceData?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{GreeceData1?.date}} - {{GreeceData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Ent">
      <ion-grid>
        <ion-item id="entertainment">
          <hr/>
          <p>ΨΥΧΑΓΩΓΙΑ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom>
          <ion-col col-6>
            <img src="{{EntData?.image_url}}" />
            <h2>{{EntData?.title | removequotes | fixamp}}</h2>
            <p>{{EntData?.teaser | removequotes | fixamp}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{EntData2?.image_url}}" />
            <h2>{{EntData1?.title | removequotes | fixamp}}</h2>
            <p>{{EntData1?.teaser | removequotes | fixamp}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{EntData?.date}} - {{EntData?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{EntData1?.date}} - {{EntData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Int">
      <ion-grid>
        <ion-item id="international">
          <hr/>
          <p>ΔΙΕΘΝΗ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom>
          <ion-col col-6>
            <img src="{{IntData?.image_url}}" />
            <h2>{{IntData?.title | removequotes | fixamp}}</h2>
            <p>{{IntData?.teaser | removequotes | fixamp}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{SportsData2?.image_url}}" />
            <h2>{{IntData1?.title | removequotes | fixamp}}</h2>
            <p>{{IntData1?.teaser | removequotes | fixamp}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{IntData?.date}} - {{IntData?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{IntData1?.date}} - {{IntData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Health">
      <ion-grid>
        <ion-item id="health">
          <hr/>
          <p>ΥΓΕΙΑ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom>
          <ion-col col-6>
            <img src="{{HealthData?.image_url}}" />
            <h2>{{HealthData?.title | removequotes | fixamp}}</h2>
            <p>{{HealthData?.teaser | removequotes | fixamp}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{HealthData1?.image_url}}" />
            <h2>{{HealthData1?.title | removequotes | fixamp}}</h2>
            <p>{{HealthData1?.teaser | removequotes | fixamp}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{HealthData?.date}} - {{HealthData?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{HealthData1?.date}} - {{HealthData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item text-wrap no-padding *ngIf="Economy">
      <ion-grid>
        <ion-item id="economy">
          <hr/>
          <p>ΟΙΚΟΝΟΜΙΑ</p>
        </ion-item>
        <ion-row no-margin-bottom no-padding-bottom>
          <ion-col col-6>
            <img src="{{EconomyData?.image_url}}" />
            <h2>{{EconomyData?.title | removequotes | fixamp}}</h2>
            <p>{{EconomyData?.teaser | removequotes | fixamp}}</p>
          </ion-col>
          <ion-col col-6>
            <img src="{{EconomyData1?.image_url}}" />
            <h2>{{EconomyData1?.title | removequotes | fixamp}}</h2>
            <p>{{EconomyData1?.teaser | removequotes | fixamp}}</p>
          </ion-col>
        </ion-row>
        <ion-row no-margin-top no-padding>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{EconomyData?.date}} - {{EconomyData?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
          <ion-col col-6>
            <small>
            <ion-icon item-start name="clock"></ion-icon>{{EconomyData1?.date}} - {{EconomyData1?.time}}
            <ion-icon color="pnored" item-end name="share"></ion-icon>
            <ion-icon color="pnored" item-end name="heart"></ion-icon>
          </small>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>
  <bottomfooter></bottomfooter>
</ion-content>
