bottomfooter {
}

.bottom-button {
  width: 100%;
  //   background-color: #dd3132;
}

.border-right {
  border-right: 2px solid #fff;
  background-color: #dd3132;
  margin-top: 0px;
}

.btnBotton {
  font-size: 1.2rem;
  color: #fff;
  padding-left: 0.1rem;
}

.lastButton {
  background-color: #dd3132;
  margin-top: 0px;
}

.icoBtn {
  font-size: 1.6rem;
}

.AlignCenter {
  text-align: center;
}

.colBack {
  background-color: #dd3132;
}

.colWhite {
  background-color: #fff;
}
