<ion-header padding-top>
  <alphaheader></alphaheader>
</ion-header>

<ion-content>
  <ion-item class="backtitleSport">
    <ion-title class="centerAlign noPaddingBottom" (click)="showAgain()"><b id="politikiTitle">Πολιτική</b></ion-title>
    <ion-segment [(ngModel)]="page" color="dark" no-margin-top>
      <ion-segment-button value="cypriako" (click)="showCypriako()">
        Κυπριακό
      </ion-segment-button>
      <ion-segment-button value="energeia" (click)="showEnergeia()">
        Ενέργεια
      </ion-segment-button>
    </ion-segment>
  </ion-item>
  <div *ngIf="showAll">
    <ion-grid>
      <ion-row class="CatRow">
        <ion-col col-6 no-padding>
          <div class="catImageDiv">
            <img class="catImg" src="{{politiki0?.image_url}}" />
          </div>
        </ion-col>
        <ion-col col-6>
          <b><h4 class="mainTitle" no-margin>{{politiki0?.title | removequotes}}</h4></b>
          <p class="limitTwoLinesP mainp " no-margip>{{politiki0?.teaser | removequotes}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-badge class="CyprusClass badgeCatClass">{{politiki0?.category}}</ion-badge>
    <ion-item padding-left class="transparent">
      <ion-icon name="ios-clock-outline" color="textColor" item-start>
        <a class="timeColor"> {{politiki0?.date}} - {{politiki0?.time}}</a>
      </ion-icon>
      <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
      <ion-icon name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" item-end (click)="setFav0(politiki0)"></ion-icon>
      <ion-icon name="ios-bookmark" color="pnored" *ngIf="isInFavs0" item-end (click)="alertFav()"></ion-icon>
    </ion-item>
    <ion-item text-wrap>
      <ion-grid class="grid-padding">
        <ion-row class="secondCatitem">
          <ion-col col-5 no-padding>
            <div class="divCatImage">
              <img class="imagePadding" src="{{politiki1?.image_url}}" />
            </div>
          </ion-col>
          <ion-col col-7 no-padding>
            <p class="catParagraph limitFourLines">{{politiki1?.title | removequotes}}</p>
            <div class="itemscat2">
              <ion-row>
                <div class="secondCatitem itemPad">
                  <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{politiki1?.date}} - {{politiki1?.time}}</a></ion-icon>
                  <ion-icon class="iconsincat margin-left" name="md-share" padding-right color="pnored"></ion-icon>
                  <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="!isInFavs1" color="pnored" (click)="setFav1(politiki1)"></ion-icon>
                  <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isInFavs1" (click)="alertFav()"></ion-icon>
                </div>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-item>
      <div>
        ΧΩΡΟΣ ΓΙΑ ΔΙΑΦΗΜΙΣΗ
      </div>
    </ion-item>
    <ion-list *ngFor="let item of items; let i = index">
      <ion-item text-wrap>
        <ion-grid class="grid-padding">
          <ion-row class="secondCatitem">
            <ion-col col-5 no-padding>
              <div class="divCatImage">
                <img class="imagePadding" src="{{item?.image_url}}" />
              </div>
            </ion-col>
            <ion-col col-7 no-padding>
              <p class="catParagraph limitFourLines">{{item?.title | removequotes}}</p>
              <div class="itemscat2">
                <ion-row>
                  <div class="secondCatitem itemPad">
                    <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{item?.date}} - {{item?.time}}</a></ion-icon>
                    <ion-icon class="iconsincat margin-left" name="md-share" color="pnored"></ion-icon>
                    <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="isRestInFavs[i]==false" color="pnored" (click)="setFav(item, i)"></ion-icon>
                    <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isRestInFavs[i]" (click)="alertFav()"></ion-icon>
                  </div>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col col-4>
        </ion-col>
        <ion-col col-4 class="alignCenter">
          <button ion-button clear icon-top>
                <ion-icon name="ios-arrow-dropdown" class="moreIcon" color="pnored"></ion-icon>
              </button>
        </ion-col>
        <ion-col col-4>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div [ngSwitch]="page">
    <div *ngSwitchCase="'cypriako'">
      <ion-grid>
        <ion-row class="CatRow">
          <ion-col col-6 no-padding>
            <div class="catImageDiv">
              <img class="catImg" src="{{cypriako0?.image_url}}" />
            </div>
          </ion-col>
          <ion-col col-6>
            <b><h4 class="mainTitle" no-margin>{{cypriako0?.title | removequotes}}</h4></b>
            <p class="limitTwoLinesP mainp " no-margip>{{cypriako0?.teaser | removequotes}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-badge class="CyprusClass badgeCatClass">{{cypriako0?.category}}</ion-badge>
      <ion-item padding-left class="transparent">
        <ion-icon name="ios-clock-outline" color="textColor" item-start>
          <a class="timeColor"> {{cypriako0?.date}} - {{cypriako0?.time}}</a>
        </ion-icon>
        <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
        <ion-icon name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" item-end (click)="setFav0(image0)"></ion-icon>
        <ion-icon name="ios-bookmark" color="pnored" *ngIf="isInFavs0" item-end (click)="alertFav()"></ion-icon>
      </ion-item>
      <ion-item text-wrap>
        <ion-grid class="grid-padding">
          <ion-row class="secondCatitem">
            <ion-col col-5 no-padding>
              <div class="divCatImage">
                <img class="imagePadding" src="{{cypriako1?.image_url}}" />
              </div>
            </ion-col>
            <ion-col col-7 no-padding>
              <p class="catParagraph limitFourLines">{{cypriako1?.title | removequotes}}</p>
              <div class="itemscat2">
                <ion-row>
                  <div class="secondCatitem itemPad">
                    <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{cypriako1?.date}} - {{cypriako1?.time}}</a></ion-icon>
                    <ion-icon class="iconsincat margin-left" name="md-share" padding-right color="pnored"></ion-icon>
                    <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" (click)="setFav0(image0)"></ion-icon>
                    <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isInFavs0" (click)="alertFav()"></ion-icon>
                  </div>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <div>
          ΧΩΡΟΣ ΓΙΑ ΔΙΑΦΗΜΙΣΗ
        </div>
      </ion-item>
      <ion-list *ngFor="let item1 of items1">
        <ion-item text-wrap>
          <ion-grid class="grid-padding">
            <ion-row class="secondCatitem">
              <ion-col col-5 no-padding>
                <div class="divCatImage">
                  <img class="imagePadding" src="{{item1?.image_url}}" />
                </div>
              </ion-col>
              <ion-col col-7 no-padding>
                <p class="catParagraph limitFourLines">{{item1?.title | removequotes}}</p>
                <div class="itemscat2">
                  <ion-row>
                    <div class="secondCatitem itemPad">
                      <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{item1?.date}} - {{item1?.time}}</a></ion-icon>
                      <ion-icon class="iconsincat margin-left" name="md-share" padding-right color="pnored"></ion-icon>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" (click)="setFav0(image0)"></ion-icon>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isInFavs0" (click)="alertFav()"></ion-icon>
                    </div>
                  </ion-row>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-list>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
          </ion-col>
          <ion-col col-4 class="alignCenter">
            <button ion-button clear icon-top>
              <ion-icon name="ios-arrow-dropdown" class="moreIcon" color="pnored"></ion-icon>
            </button>
          </ion-col>
          <ion-col col-4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div [ngSwitch]="page">
      <div *ngSwitchCase="'energeia'">
        <ion-grid>
          <ion-row class="CatRow">
            <ion-col col-6 no-padding>
              <div class="catImageDiv">
                <img class="catImg" src="{{energeia0?.image_url}}" />
              </div>
            </ion-col>
            <ion-col col-6>
              <b><h4 class="mainTitle" no-margin>{{energeia0?.title | removequotes}}</h4></b>
              <p class="limitTwoLinesP mainp " no-margip>{{energeia0?.teaser | removequotes}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-badge class="CyprusClass badgeCatClass">{{energeia0?.category}}</ion-badge>
        <ion-item padding-left class="transparent">
          <ion-icon name="ios-clock-outline" color="textColor" item-start>
            <a class="timeColor"> {{energeia0?.date}} - {{energeia0?.time}}</a>
          </ion-icon>
          <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
          <ion-icon name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" item-end (click)="setFav0(image0)"></ion-icon>
          <ion-icon name="ios-bookmark" color="pnored" *ngIf="isInFavs0" item-end (click)="alertFav()"></ion-icon>
        </ion-item>
        <ion-item text-wrap>
          <ion-grid class="grid-padding">
            <ion-row class="secondCatitem">
              <ion-col col-5 no-padding>
                <div class="divCatImage">
                  <img class="imagePadding" src="{{energeia1?.image_url}}" />
                </div>
              </ion-col>
              <ion-col col-7 no-padding>
                <p class="catParagraph limitFourLines">{{energeia1?.title | removequotes}}</p>
                <div class="itemscat2">
                  <ion-row>
                    <div class="secondCatitem itemPad">
                      <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{energeia1?.date}} - {{energeia1?.time}}</a></ion-icon>
                      <ion-icon class="iconsincat margin-left" name="md-share" padding-right color="pnored"></ion-icon>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" (click)="setFav0(image0)"></ion-icon>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isInFavs0" (click)="alertFav()"></ion-icon>
                    </div>
                  </ion-row>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <div>
            ΧΩΡΟΣ ΓΙΑ ΔΙΑΦΗΜΙΣΗ
          </div>
        </ion-item>
        <ion-list *ngFor="let item2 of items2">
          <ion-item text-wrap>
            <ion-grid class="grid-padding">
              <ion-row class="secondCatitem">
                <ion-col col-5 no-padding>
                  <div class="divCatImage">
                    <img class="imagePadding" src="{{item2?.image_url}}" />
                  </div>
                </ion-col>
                <ion-col col-7 no-padding>
                  <p class="catParagraph limitFourLines">{{item2?.title | removequotes}}</p>
                  <div class="itemscat2">
                    <ion-row>
                      <div class="secondCatitem itemPad">
                        <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{item2?.date}} - {{item2?.time}}</a></ion-icon>
                        <ion-icon class="iconsincat margin-left" name="md-share" padding-right color="pnored"></ion-icon>
                        <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" (click)="setFav0(image0)"></ion-icon>
                        <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isInFavs0" (click)="alertFav()"></ion-icon>
                      </div>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-4>
            </ion-col>
            <ion-col col-4 class="alignCenter">
              <button ion-button clear icon-top>
                  <ion-icon name="ios-arrow-dropdown" class="moreIcon" color="pnored"></ion-icon>
                </button>
            </ion-col>
            <ion-col col-4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div [ngSwitch]="page">
      <div *ngSwitchCase="'intSports'">
        <ion-grid>
          <ion-row class="CatRow">
            <ion-col col-6 no-padding>
              <div class="catImageDiv">
                <img class="catImg" src="{{int0?.image_url}}" />
              </div>
            </ion-col>
            <ion-col col-6>
              <b><h4 class="mainTitle" no-margin>{{int0?.title | removequotes}}</h4></b>
              <p class="limitTwoLinesP mainp " no-margip>{{int0?.teaser | removequotes}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-badge class="CyprusClass badgeCatClass">{{int0?.category}}</ion-badge>
        <ion-item padding-left class="transparent">
          <ion-icon name="ios-clock-outline" color="textColor" item-start>
            <a class="timeColor"> {{int0?.date}} - {{int0?.time}}</a>
          </ion-icon>
          <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
          <ion-icon name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" item-end (click)="setFav0(image0)"></ion-icon>
          <ion-icon name="ios-bookmark" color="pnored" *ngIf="isInFavs0" item-end (click)="alertFav()"></ion-icon>
        </ion-item>
        <ion-item text-wrap>
          <ion-grid class="grid-padding">
            <ion-row class="secondCatitem">
              <ion-col col-5 no-padding>
                <div class="divCatImage">
                  <img class="imagePadding" src="{{int1?.image_url}}" />
                </div>
              </ion-col>
              <ion-col col-7 no-padding>
                <p class="catParagraph limitFourLines">{{int1?.title | removequotes}}</p>
                <div class="itemscat2">
                  <ion-row>
                    <div class="secondCatitem itemPad">
                      <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{int1?.date}} - {{int1?.time}}</a></ion-icon>
                      <ion-icon class="iconsincat margin-left" name="md-share" padding-right color="pnored"></ion-icon>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" (click)="setFav0(image0)"></ion-icon>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isInFavs0" (click)="alertFav()"></ion-icon>
                    </div>
                  </ion-row>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <div>
            ΧΩΡΟΣ ΓΙΑ ΔΙΑΦΗΜΙΣΗ
          </div>
        </ion-item>
        <ion-list *ngFor="let item4 of items4">
          <ion-item text-wrap>
            <ion-grid class="grid-padding">
              <ion-row class="secondCatitem">
                <ion-col col-5 no-padding>
                  <div class="divCatImage">
                    <img class="imagePadding" src="{{item4?.image_url}}" />
                  </div>
                </ion-col>
                <ion-col col-7 no-padding>
                  <p class="catParagraph limitFourLines">{{item4?.title | removequotes}}</p>
                  <div class="itemscat2">
                    <ion-row>
                      <div class="secondCatitem itemPad">
                        <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{item4?.date}} - {{item4?.time}}</a></ion-icon>
                        <ion-icon class="iconsincat margin-left" name="md-share" padding-right color="pnored"></ion-icon>
                        <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" (click)="setFav0(image0)"></ion-icon>
                        <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isInFavs0" (click)="alertFav()"></ion-icon>
                      </div>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-4>
            </ion-col>
            <ion-col col-4 class="alignCenter">
              <button ion-button clear icon-top>
                    <ion-icon name="ios-arrow-dropdown" class="moreIcon" color="pnored"></ion-icon>
                  </button>
            </ion-col>
            <ion-col col-4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
    <div [ngSwitch]="page">
      <div *ngSwitchCase="'otherSports'">
        <ion-grid>
          <ion-row class="CatRow">
            <ion-col col-6 no-padding>
              <div class="catImageDiv">
                <img class="catImg" src="{{sports0?.image_url}}" />
              </div>
            </ion-col>
            <ion-col col-6>
              <b><h4 class="mainTitle" no-margin>{{sports0?.title | removequotes}}</h4></b>
              <p class="limitTwoLinesP mainp " no-margip>{{sports0?.teaser | removequotes}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-badge class="CyprusClass badgeCatClass">{{sports0?.category}}</ion-badge>
        <ion-item padding-left class="transparent">
          <ion-icon name="ios-clock-outline" color="textColor" item-start>
            <a class="timeColor"> {{sports0?.date}} - {{sports0?.time}}</a>
          </ion-icon>
          <ion-icon name="md-share" padding-right color="pnored" item-end></ion-icon>
          <ion-icon name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" item-end (click)="setFav0(image0)"></ion-icon>
          <ion-icon name="ios-bookmark" color="pnored" *ngIf="isInFavs0" item-end (click)="alertFav()"></ion-icon>
        </ion-item>
        <ion-item text-wrap>
          <ion-grid class="grid-padding">
            <ion-row class="secondCatitem">
              <ion-col col-5 no-padding>
                <div class="divCatImage">
                  <img class="imagePadding" src="{{sports1?.image_url}}" />
                </div>
              </ion-col>
              <ion-col col-7 no-padding>
                <p class="catParagraph limitFourLines">{{sports1?.title | removequotes}}</p>
                <div class="itemscat2">
                  <ion-row>
                    <div class="secondCatitem itemPad">
                      <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{sports1?.date}} - {{sports1?.time}}</a></ion-icon>
                      <ion-icon class="iconsincat margin-left" name="md-share" padding-right color="pnored"></ion-icon>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" (click)="setFav0(image0)"></ion-icon>
                      <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isInFavs0" (click)="alertFav()"></ion-icon>
                    </div>
                  </ion-row>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item>
          <div>
            ΧΩΡΟΣ ΓΙΑ ΔΙΑΦΗΜΙΣΗ
          </div>
        </ion-item>
        <ion-list *ngFor="let item5 of items5">
          <ion-item text-wrap>
            <ion-grid class="grid-padding">
              <ion-row class="secondCatitem">
                <ion-col col-5 no-padding>
                  <div class="divCatImage">
                    <img class="imagePadding" src="{{item5?.image_url}}" />
                  </div>
                </ion-col>
                <ion-col col-7 no-padding>
                  <p class="catParagraph limitFourLines">{{item5?.title | removequotes}}</p>
                  <div class="itemscat2">
                    <ion-row>
                      <div class="secondCatitem itemPad">
                        <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{item5?.date}} - {{item5?.time}}</a></ion-icon>
                        <ion-icon class="iconsincat margin-left" name="md-share" padding-right color="pnored"></ion-icon>
                        <ion-icon class="iconsincat margin-left2" name="ios-bookmark-outline" *ngIf="!isInFavs0" color="pnored" (click)="setFav0(image0)"></ion-icon>
                        <ion-icon class="iconsincat margin-left2" name="ios-bookmark" color="pnored" *ngIf="isInFavs0" (click)="alertFav()"></ion-icon>
                      </div>
                    </ion-row>
                  </div>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        <ion-grid>
          <ion-row>
            <ion-col col-4>
            </ion-col>
            <ion-col col-4 class="alignCenter">
              <button ion-button clear icon-top>
                      <ion-icon name="ios-arrow-dropdown" class="moreIcon" color="pnored"></ion-icon>
                    </button>
            </ion-col>
            <ion-col col-4>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
