<ion-menu [content]="content">
  <ion-header padding-top class="greyClr">
    <ion-item class="greyClr">
      <ion-grid>
        <ion-row align-items-center>
          <ion-col col-2>
            <ion-icon class="headIcon" color="pnored" menuClose name="md-close"></ion-icon>
          </ion-col>
          <ion-col col-6 (click)="openHomePage()">
            <img src="assets/img/logo-fullwhite.png" click="opneHomePage()" />
          </ion-col>
          <ion-col col-4 class="centerAlign">
            <button ion-button icon-end clear menuClose class="noUpper noMargin" (click)="openSettings()" color="pnored">
              <b><a class="headSettings">Ρυθμίσεις</a></b><ion-icon class="headIcon" name="md-more"></ion-icon>
          </button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-item class="greyClr" no-padding>
        <ion-icon item-end menuClose color="light" class="noMargin homeIc" name="ios-home-outline" (click)="openHome()"></ion-icon>
      </ion-item>
    </ion-item>
  </ion-header>

  <ion-content class="greyClr" padding>
    <ion-list>
      <ion-item class="lighter" no-padding no-lines>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-1 class="CyprusCol">
            </ion-col>
            <ion-col col-9 padding-left class="taleft" (click)="openCyp()">
              <div class="menuItem">Κύπρος</div>
            </ion-col>
            <ion-col col-2>
              <ion-icon class="headIcon" name="ios-arrow-down" (click)="expandCyp()"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="greyClr" no-lines menuClose *ngIf="showMeCyp" (click)="neaAgoras()">
        <ion-grid>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-11>
              <div class="menuItem2">Νέα Αγοράς</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>

      <ion-item class="lighter" no-padding no-lines>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-1 class="PolitikiCol">
            </ion-col>
            <ion-col col-9 padding-left class="taleft" (click)="openPol()">
              <div class="menuItem">Πολιτική</div>
            </ion-col>
            <ion-col col-2>
              <ion-icon class="headIcon" name="ios-arrow-down" (click)="expandPol()"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="greyClr" menuClose *ngIf="showMePol" (click)="openKipriako()">
        <ion-grid>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-11 class="borderDown">
              <div class="menuItem2">Κυπριακό</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="greyClr" *ngIf="showMePol" (click)="openEnergeia()">
        <ion-grid>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-11 class="borderDown">
              <div class="menuItem2">Ενέργεια</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="lighter" no-padding no-lines menuClose (click)="openGreece()">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-1 class="GreeceCol">
            </ion-col>
            <ion-col col-11 padding-left class="taleft">
              <div class="menuItem">Ελλάδα</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item menuClose class="lighter" no-padding no-lines (click)="openInt()">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-1 class="DiethniCol">
            </ion-col>
            <ion-col col-11 padding-left class="taleft">
              <div class="menuItem">Διεθνή</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="lighter" no-padding no-lines>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-1 class="SportsCol">
            </ion-col>
            <ion-col col-9 padding-left class="taleft" (click)="openSports()">
              <div class="menuItem">Αθλητισμός</div>
            </ion-col>
            <ion-col col-2 (click)="expandSports()">
              <ion-icon class="headIcon" name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="greyClr" menuClose *ngIf="showMeSports" (click)="openKypriakoProtathlima()">
        <ion-grid>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-11 class="borderDown">
              <div class="menuItem2">Κυπριακό Πρωτάθλημα</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="greyClr" menuClose *ngIf="showMeSports" (click)="openEllinikoProtathlima()">
        <ion-grid>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-11 class="borderDown">
              <div class="menuItem2">Ελληνικό Πρωτάθλημα</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="greyClr" menuClose *ngIf="showMeSports" (click)="openDiethniProtathlimata()">
        <ion-grid>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-11 class="borderDown">
              <div class="menuItem2">Διεθνή Πρωταθλήματα</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="greyClr" menuClose *ngIf="showMeSports" (click)="openAthlitismos()">
        <ion-grid>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-11 class="borderDown">
              <div class="menuItem2">Αθλητισμός</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item menuClose class="lighter" no-padding no-lines (click)="openEconomy()">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-1 class="EconomyCol">
            </ion-col>
            <ion-col col-11 padding-left class="taleft">
              <div class="menuItem">Οικονομία</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="lighter" no-padding no-lines>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-1 class="HealthCol">
            </ion-col>
            <ion-col col-9 padding-left class="taleft" (click)="openHealth()">
              <div class="menuItem">Υγεία</div>
            </ion-col>
            <ion-col col-2 (click)="expandHealth()">
              <ion-icon class="headIcon" name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="greyClr" *ngIf="showMeHealth" menuClose (click)="openFitness()">
        <ion-grid>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-11 class="borderDown">
              <div class="menuItem2">Fitness</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="greyClr" menuClose *ngIf="showMeHealth" (click)="openPsych()">
        <ion-grid>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-11 class="borderDown">
              <div class="menuItem2">Ψυχολογία</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="lighter" no-padding no-lines>
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-1 class="EntertainmentCol">
            </ion-col>
            <ion-col col-9 padding-left class="taleft" (click)="openEnt()">
              <div class="menuItem">Ψυχαγωγία</div>
            </ion-col>
            <ion-col col-2 (click)="expandEnt()">
              <ion-icon class="headIcon" name="ios-arrow-down"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="greyClr" menuClose *ngIf="showMeEnt" (click)="openProtaseis()">
        <ion-grid>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-11 class="borderDown">
              <div class="menuItem2">Προτάσεις</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="greyClr" menuClose *ngIf="showMeEnt" (click)="openShowBiz()">
        <ion-grid>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-11 class="borderDown">
              <div class="menuItem2">Showbiz</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="greyClr" menuClose *ngIf="showMeEnt" (click)="opensinentefxeis()">
        <ion-grid>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-11 class="borderDown">
              <div class="menuItem2">Συνεντέυξεις</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item class="greyClr" menuClose *ngIf="showMeEnt" (click)="openKitchen()">
        <ion-grid>
          <ion-row>
            <ion-col col-1></ion-col>
            <ion-col col-11 class="borderDown">
              <div class="menuItem2">Κουζίνα</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item menuClose class="lighter" no-padding no-lines (click)="openBlog()">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-1>
            </ion-col>
            <ion-col col-11 padding-left class="taleft">
              <div class="menuItem">Blog</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item menuClose class="lighter" no-padding no-lines (click)="openLouis()">
        <ion-grid>
          <ion-row justify-content-center>
            <ion-col col-1>
            </ion-col>
            <ion-col col-11 padding-left class="taleft">
              <div class="menuItem">Λούης Night Show</div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-grid>
        <ion-row text-wrap align-items-center class="greyClr">
          <ion-col col-6>
            <p class="socialHead">
              ΑΚΟΛΟΥΘΗΣΕ ΜΑΣ
            </p>
            <p class="socialText">
              στα Social Media για να είσαι πάντα ενημερωμένος
            </p>
          </ion-col>
          <ion-col col-2>
            <ion-badge class="socialIcons">
              <ion-icon color="dark" name="logo-facebook"></ion-icon>
            </ion-badge>
          </ion-col>
          <ion-col col-2>
            <ion-badge class="socialIcons">
              <ion-icon color="dark" name="logo-twitter"></ion-icon>
            </ion-badge>
          </ion-col>
          <ion-col col-2>
            <ion-badge class="socialIcons">
              <ion-icon color="dark" name="logo-youtube"></ion-icon>
            </ion-badge>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-list>
    <ion-grid>
      <ion-row no-padding>
        <ion-col col-4 class="border-right-menu">
          <button ion-button full icon-left class="noPad greyClr" (click)="openUseful()">
            <ion-icon class="menuBtn greyClr" name="ios-pricetag-outline"></ion-icon><a class="menuBtn greyClr">Χρήσιμα</a>
          </button>
        </ion-col>
        <ion-col col-4 class="border-right-menu">
          <button ion-button full icon-left class="noPad greyClr">
            <ion-icon name="md-desktop" class="menuBtn greyClr"></ion-icon><a class="menuBtn greyClr">TVnews</a>
          </button>
        </ion-col>
        <ion-col col-4 (click)="openReport()">
          <button ion-button full icon-left class="noPad greyClr">
            <ion-icon name="ios-mic" class="menuBtn greyClr"></ion-icon><a class="menuBtn greyClr">Report</a>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
