<ion-header class=settingsBack>
  <ion-navbar no-padding color="dark">
    <ion-title color="lightGreyColor">Ρυθμίσεις</ion-title>
  </ion-navbar>
  <p class="lightGreyColor centerAlign" no-margin padding text-wrap>Εισάγετε όρο (ή όρους) αναζήτησης</p>
</ion-header>


<ion-content>
  <ion-searchbar animated="true" type="search" [(ngModel)]="mySearch"></ion-searchbar>
  <button ion-button outline block color="pnored" (click)="searchIt($event)">Search It!</button>
  <ion-list *ngIf="isData">
    <ion-item-sliding *ngFor="let item of searchData">
      <ion-item text-wrap>
        <ion-grid class="grid-padding">
          <ion-row class="secondCatitem">
            <ion-col col-5 no-padding>
              <div class="divCatImage">
                <img class="imagePadding" src="{{item?.image_url_square}}" />
              </div>
            </ion-col>
            <ion-col col-7 no-padding>
              <p class="catParagraph limitFourLines">{{item?.title | removequotes | fixamp}}</p>
              <div class="itemscat2">
                <ion-row>
                  <div class="secondCatitem itemPad">
                    <ion-icon class="iconsincat" name="ios-clock-outline" color="textColor" item-left> <a class="timeColor">{{item?.date}} - {{item?.time}}</a></ion-icon>
                    <ion-icon class="iconsincat margin-left" name="md-share" color="pnored"></ion-icon>
                  </div>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="danger">
            <ion-icon name="ios-trash-outline" class="trash"></ion-icon>
            Remove from favs
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
